<div class="container">
    <section class="conacts" id="contacts">
        <div class="contacts__title">Contacts</div>
        <div class="contacts-collumns">
            <div class="contacts-collumn-left">
                <div class="contacts__phone-text">our single network number:</div>
                <div class="contacts__phone-number">+7 (1234) 12-34-45</div>
                <div class="contacts__form">
                    <form class="page-form" action="#contacts">
                        <input class="name" name="name" id="name" type="text" placeholder="Your name">
                        <input class="tel" type="tel" name="tel" pattern="2[0-9]{3}-[0-9]{3}" placeholder="Your phone number"> </br>
                        <input class="form-button" type="submit" value="Call me">
                    </form>
                </div>
                <div class="contacts__adress">Address: 145 E 15th Street, Suite 1E, New York, NY 10003</div>
            </div>
            <div class="contacts-collumn-right">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad499b264d79a2c0173840b04c9594765a6760e5cc827c999b718f4b8c06086b7&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
            </div>

        </div>
    </section>
</div>