<div class="container">
    <section class="costs">
        <div class="costs__title">We will cure your teeth in time</div>

        <div class="costs-rows">
            <div class="cost-row1">
                <div class="cost-row__title">Initial caries</div>
                <div class="cost-row-description">
                    <div class="cost-row-description__text">
                        Slight caries (acidic) or mechanical damage to the enamel
                    </div>
                    <div class="cost-row-description__list">
                        <ul>
                            <li>the tooth does not hurt yet, there may be an increase in sensitivity</li>
                            <li>the approximate period of development without treatment is 2-3 years</li>
                        </ul>
                    </div>
                    <div class="cost__price">
                        from 300 $
                    </div>
                </div>
            </div>
            <div class="cost-row2">
                <div class="cost-row__title">Caries</div>
                <div class="cost-row-description">
                    <div class="cost-row-description__text">
                        Process in dentin
                    </div>
                    <div class="cost-row-description__list">
                        <ul>
                            <li>tooth aches for sour, sweet, hot, cold</li>
                            <li>inflammation of the dental canals without treatment in 1 year</li>
                        </ul>
                    </div>
                    <div class="cost__price">
                        from 500 $
                    </div>
                </div>
            </div>
            <div class="cost-row3">
                <div class="cost-row__title">Pulpitis</div>
                <div class="cost-row-description">
                    <div class="cost-row-description__text">
                        The pulp is irreversibly inflamed
                    </div>
                    <div class="cost-row-description__list">
                        <ul>
                            <li>severe pulling / aching pains</li>
                            <li>possible tooth loss without treatment in 2-3 months</li>
                        </ul>
                    </div>
                    <div class="cost__price">
                        from 800 $
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>