<div class="container">
    <section class="doctors">
        <div class="doctors__title">Our Specialists</div>
        <div class="doctors-tabs">
            <div class="tabs">
                <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
                <label for="tab-btn-1">Therapy</label>
                <input type="radio" name="tab-btn" id="tab-btn-2" value="">
                <label for="tab-btn-2">Implantation</label>
                <input type="radio" name="tab-btn" id="tab-btn-3" value="">
                <label for="tab-btn-3">Prosthetics</label>
                <input type="radio" name="tab-btn" id="tab-btn-4" value="">
                <label for="tab-btn-4">All</label>

                <div id="content-1" class="department therapy">
                    <div class="doctors-specialist-card">
                        <div class="doctors__photo">
                            <img src="img/doc1.jpg" alt="doctor">
                        </div>
                        <div class="doctors__name">Cohnor Sarach</div>
                        <div class="doctors__range">Head of division</div>
                        <div class="doctors__profiles">Specialization: implantation \ therapy \ endodontics \ microscope \ orthopedics \ surgeon \ children's doctor</div>
                        <div class="doctors__year">Work Experience: since 2005</div>
                    </div>
                    <div class="doctors-specialist-card">
                        <div class="doctors__photo">
                            <img src="img/doc2.jpg" alt="doctor">
                        </div>
                        <div class="doctors__name">Rebekka Uinstonn</div>
                        <div class="doctors__range">Specialist</div>
                        <div class="doctors__profiles">Specialization: therapy \ endodontics \ microscope \ orthopedics \ surgeon \ children's doctor</div>
                        <div class="doctors__year">Work Experience: since 2000</div>
                    </div>
                    <div class="doctors-specialist-card">
                        <div class="doctors__photo">
                            <img src="img/doc3.jpg" alt="doctor">
                        </div>
                        <div class="doctors__name">Marianna marianna</div>
                        <div class="doctors__range">Spesialist</div>
                        <div class="doctors__profiles">Specialization: surgeon \ implantation \ therapy \ endodontics \ microscope \ orthopedics </div>
                        <div class="doctors__year">Work Experience: since 2010</div>
                    </div>
                    <div class="doctors-specialist-card">
                        <div class="doctors__photo">
                            <img src="img/doc4.jpg" alt="doctor">
                        </div>
                        <div class="doctors__name">Donald Trump</div>
                        <div class="doctors__range">Specialist</div>
                        <div class="doctors__profiles">Specialization: surgeon \ implantation \ therapy \ endodontics \ microscope \ orthopedics</div>
                        <div class="doctors__year">Work Experience: since 1999</div>
                    </div>
                </div>
                <div id="content-2" class="department impant">
                    <div class="doctors-specialist-card">
                        <div class="doctors__photo">
                            <img src="img/doc4.jpg" alt="doctor">
                        </div>
                        <div class="doctors__name">Donald Trump</div>
                        <div class="doctors__range">Specialist</div>
                        <div class="doctors__profiles">Specialization: surgeon \ implantation \ therapy \ endodontics \ microscope \ orthopedics</div>
                        <div class="doctors__year">Work Experience: since 1999</div>
                    </div>
                    <div class="doctors-specialist-card">
                        <div class="doctors__photo">
                            <img src="img/doc1.jpg" alt="doctor">
                        </div>
                        <div class="doctors__name">Cohnor Sarach</div>
                        <div class="doctors__range">Head of division</div>
                        <div class="doctors__profiles">Specialization: implantation \ therapy \ endodontics \ microscope \ orthopedics \ surgeon \ children's doctor</div>
                        <div class="doctors__year">Work Experience: since 2005</div>
                    </div>
                    <div class="doctors-specialist-card">
                        <div class="doctors__photo">
                            <img src="img/doc2.jpg" alt="doctor">
                        </div>
                        <div class="doctors__name">Rebekka Uinstonn</div>
                        <div class="doctors__range">Specialist</div>
                        <div class="doctors__profiles">Specialization: therapy \ endodontics \ microscope \ orthopedics \ surgeon \ children's doctor</div>
                        <div class="doctors__year">Work Experience: since 2000</div>
                    </div>
                    <div class="doctors-specialist-card">
                        <div class="doctors__photo">
                            <img src="img/doc3.jpg" alt="doctor">
                        </div>
                        <div class="doctors__name">Marianna marianna</div>
                        <div class="doctors__range">Spesialist</div>
                        <div class="doctors__profiles">Specialization: surgeon \ implantation \ therapy \ endodontics \ microscope \ orthopedics </div>
                        <div class="doctors__year">Work Experience: since 2010</div>
                    </div>

                </div>
                <div id="content-3" class="department impant">
                    <div class="doctors-specialist-card">
                        <div class="doctors__photo">
                            <img src="img/doc3.jpg" alt="doctor">
                        </div>
                        <div class="doctors__name">Marianna marianna</div>
                        <div class="doctors__range">Spesialist</div>
                        <div class="doctors__profiles">Specialization: surgeon \ implantation \ therapy \ endodontics \ microscope \ orthopedics </div>
                        <div class="doctors__year">Work Experience: since 2010</div>
                    </div>
                    <div class="doctors-specialist-card">
                        <div class="doctors__photo">
                            <img src="img/doc4.jpg" alt="doctor">
                        </div>
                        <div class="doctors__name">Donald Trump</div>
                        <div class="doctors__range">Specialist</div>
                        <div class="doctors__profiles">Specialization: surgeon \ implantation \ therapy \ endodontics \ microscope \ orthopedics</div>
                        <div class="doctors__year">Work Experience: since 1999</div>
                    </div>
                    <div class="doctors-specialist-card">
                        <div class="doctors__photo">
                            <img src="img/doc1.jpg" alt="doctor">
                        </div>
                        <div class="doctors__name">Cohnor Sarach</div>
                        <div class="doctors__range">Head of division</div>
                        <div class="doctors__profiles">Specialization: implantation \ therapy \ endodontics \ microscope \ orthopedics \ surgeon \ children's doctor</div>
                        <div class="doctors__year">Work Experience: since 2005</div>
                    </div>



                </div>
                <div id="content-4">
                    <div class="doctors-specialist-card">
                        <div class="doctors__photo">
                            <img src="img/doc4.jpg" alt="doctor">
                        </div>
                        <div class="doctors__name">Donald Trump</div>
                        <div class="doctors__range">Specialist</div>
                        <div class="doctors__profiles">Specialization: surgeon \ implantation \ therapy \ endodontics \ microscope \ orthopedics</div>
                        <div class="doctors__year">Work Experience: since 1999</div>
                    </div>
                    <div class="doctors-specialist-card">
                        <div class="doctors__photo">
                            <img src="img/doc1.jpg" alt="doctor">
                        </div>
                        <div class="doctors__name">Cohnor Sarach</div>
                        <div class="doctors__range">Head of division</div>
                        <div class="doctors__profiles">Specialization: implantation \ therapy \ endodontics \ microscope \ orthopedics \ surgeon \ children's doctor</div>
                        <div class="doctors__year">Work Experience: since 2005</div>
                    </div>
                    <div class="doctors-specialist-card">
                        <div class="doctors__photo">
                            <img src="img/doc2.jpg" alt="doctor">
                        </div>
                        <div class="doctors__name">Rebekka Uinstonn</div>
                        <div class="doctors__range">Specialist</div>
                        <div class="doctors__profiles">Specialization: therapy \ endodontics \ microscope \ orthopedics \ surgeon \ children's doctor</div>
                        <div class="doctors__year">Work Experience: since 2000</div>
                    </div>
                    <div class="doctors-specialist-card">
                        <div class="doctors__photo">
                            <img src="img/doc3.jpg" alt="doctor">
                        </div>
                        <div class="doctors__name">Marianna marianna</div>
                        <div class="doctors__range">Spesialist</div>
                        <div class="doctors__profiles">Specialization: surgeon \ implantation \ therapy \ endodontics \ microscope \ orthopedics </div>
                        <div class="doctors__year">Work Experience: since 2010</div>
                    </div>
                    <div class="doctors-specialist-card">
                        <div class="doctors__photo">
                            <img src="img/doc4.jpg" alt="doctor">
                        </div>
                        <div class="doctors__name">Donald Trump</div>
                        <div class="doctors__range">Specialist</div>
                        <div class="doctors__profiles">Specialization: surgeon \ implantation \ therapy \ endodontics \ microscope \ orthopedics</div>
                        <div class="doctors__year">Work Experience: since 1999</div>
                    </div>
                    <div class="doctors-specialist-card">
                        <div class="doctors__photo">
                            <img src="img/doc1.jpg" alt="doctor">
                        </div>
                        <div class="doctors__name">Cohnor Sarach</div>
                        <div class="doctors__range">Head of division</div>
                        <div class="doctors__profiles">Specialization: implantation \ therapy \ endodontics \ microscope \ orthopedics \ surgeon \ children's doctor</div>
                        <div class="doctors__year">Work Experience: since 2005</div>
                    </div>
                    <div class="doctors-specialist-card">
                        <div class="doctors__photo">
                            <img src="img/doc2.jpg" alt="doctor">
                        </div>
                        <div class="doctors__name">Rebekka Uinstonn</div>
                        <div class="doctors__range">Specialist</div>
                        <div class="doctors__profiles">Specialization: therapy \ endodontics \ microscope \ orthopedics \ surgeon \ children's doctor</div>
                        <div class="doctors__year">Work Experience: since 2000</div>
                    </div>
                    <div class="doctors-specialist-card">
                        <div class="doctors__photo">
                            <img src="img/doc3.jpg" alt="doctor">
                        </div>
                        <div class="doctors__name">Marianna marianna</div>
                        <div class="doctors__range">Spesialist</div>
                        <div class="doctors__profiles">Specialization: surgeon \ implantation \ therapy \ endodontics \ microscope \ orthopedics </div>
                        <div class="doctors__year">Work Experience: since 2010</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>