<div class="container">

    <section class="emergency-treatment" id="emergency">


        <div class="emergency__title">
            emergency <span>treatment</span>

        </div>
        <div class="emergency__list">
            <div class="emergency__list-left">we will remove the pain in a short time</div>
            <div class="emergency__list-right">
                <div class="emergency__right-title">possible cause:</div>
                <div class="emergency__right-list">
                    <ul>
                        <li>pulpitis</li>
                        <li>paradontosis</li>
                        <li>gingivitis</li>
                        <li>periodontitis</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="emergency__scheme">treatment regimen</div>
        <div class="emergency__blocks">
            <div class="emergency__blocks-item stage1">
                <div>Diagnostics (x-ray, tomogram)</div>
            </div>
            <div class="emergency__blocks-item stage2">
                <div>Anesthesia</div>
            </div>
            <div class="emergency__blocks-item stage3">
                <div>Opening the focus of inflammation</div>
            </div>
            <div class="emergency__blocks-item stage4">
                <div>The placement of the medication</div>
            </div>
            <div class="emergency__blocks-item stage5">
                <div>Installing a temporary seal
                </div>
            </div>
        </div>



    </section>
</div>