<header>
    <div class="container">


        <div class="header-top">

            <div class="logo">
                <img src="img/logo.png" alt="logo">
            </div>
            <div class="header-menu">


                <a href="#emergency">
                    <div class="header-menu__item">
                        <div><img src="img/hamburger-ico.png" alt="hamburger-ico"></div>
                        <div>servises</div>
                    </div>
                </a>
                <a href="#doctors">
                    <div class="header-menu__item">
                        <div><img src="img/dentist.png" alt="dentist"></div>
                        <div>doctors</div>
                    </div>
                </a>
                <a href="#costs">
                    <div class="header-menu__item">
                        <div><img src="img/tag.png" alt="tag"></div>
                        <div>cost</div>
                    </div>
                </a>
            </div>
            <div class="header-contacts">
                <a href="#contacts">
                    <div class="header-adress">
                        <div class="header__map-image"><img src="img/header-map.png" alt="map"></div>
                        <div class="header__city">Adress</div>
                    </div>
                </a>

                <div class="header-hours">
                    <div class="header__hours-image"><img src="img/clock.png" alt="clock"></div>
                    <div class="header__hours-open">Daili 9.00-21.00
                        </br>
                    </div>
                </div>
                <div class="header-phone">
                    <div class="header__phone-image"><img src="img/phone.png" alt="phone"></div>
                    <div class="header__phone-number">+7 (1234) 12-34-45 </br>
                    </div>
                </div>
            </div>
            <div class="header__contact-button">
                <a href="#contacts">Order a call</a>
            </div>
            <div class="hamburger-mobile">
                <img src="img/hamburger-ico.png" alt="hamburger-ico">
            </div>
        </div>

    </div>
    <div class="container">
        <div class="header-content">
            <div class="header-description">
                <div class="header-description-item">
                    <div class="header__title">Treat teeth forever</div>
                    <div class="header__title2">WARRANTY UP TO 7 YEARS</div>
                    <div class="header__button-sale"><a href="#">5% discount for new customers</a></div>
                    <div class="header__list">
                        <ul>
                            <li>free consultation for children under 14 years of age in any clinic,</li>
                            <li>adults - in the branch on Gogol street</li>
                        </ul>
                    </div>
                </div>

                <div class="header-description-item">
                    <div class="header__title">Creating bright smiles</div>
                    <div class="header__title2">without pain or fear</div>
                    <div class="header__button-sale"><a href="#">Free consultation</a></div>
                    <div class="header__list">
                        <ul>
                            <li>free consultation for children under 14 years of age in any clinic,</li>
                            <li>adults - in the branch on Gogol street</li>
                        </ul>
                    </div>
                </div>

                <div class="header-description-item">
                    <div class="header__title">High class specialist</div>
                    <div class="header__title2">WARRANTY UP TO 7 YEARS</div>
                    <div class="header__button-sale"><a href="#">10% discount for children</a></div>
                    <div class="header__list">
                        <ul>
                            <li>free consultation for children under 14 years of age in any clinic,</li>
                            <li>adults - in the branch on Gogol street</li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="mobile-menu">
        <div class="close-btn">

        </div>
        <a href="#emergency">
            <div class="header-menu__item-mobile oneclose">
                <div><img src="img/hamburger-ico.png" alt="hamburger-ico"></div>
                <div>servises</div>
            </div>
        </a>
        <a href="#doctors">
            <div class="header-menu__item-mobile twoclose">
                <div><img src="img/dentist.png" alt="dentist"></div>
                <div>doctors</div>
            </div>
        </a>
        <a href="#costs">
            <div class="header-menu__item-mobile threeclose">
                <div><img src="img/tag.png" alt="tag"></div>
                <div>cost</div>
            </div>
        </a>
        <a href="#contacts">
            <div class="header-menu__item-mobile fourclose">
                <div class="header__map-image"><img src="img/header-map.png" alt="map"></div>
                <div class="header__city">Adress</div>
            </div>
        </a>
        <div class="header__contact-button-mobile">
            <a href="#contacts">Order a call</a>
        </div>
    </div>

</header>