<header>
    <div class="container">
        <div class="header-top">

            <div class="logo">
                <img src="img/logo.png" alt="logo">
            </div>
            <div class="header-menu">
                <div class="header-menu__item">
                    <div><img src="img/hamburger-ico.png" alt="hamburger-ico"></div>
                    <div>УСЛУГИ</div>
                </div>
                <div class="header-menu__item">
                    <div><img src="img/hamburger-ico.png" alt="hamburger-ico"></div>
                    <div>УСЛУГИ</div>
                </div>
                <div class="header-menu__item">
                    <div><img src="img/hamburger-ico.png" alt="hamburger-ico"></div>
                    <div>УСЛУГИ</div>
                </div>
            </div>
            <div class="header-contacts"></div>
            <div class="header__btn"></div>

        </div>
    </div>
    <div class="header-content">
        <div class="header-description">
            <div class="header-description-item">
                <div class="header__title">ЛЕЧИМ ЗУБЫ КАК РОДНЫМ</div>
                <div class="header__title2">ГАРАНТИЯ ДО 7 ЛЕТ</div>
                <div class="header__button_sale">скидка 5% в январе</div>
                <div class="header__list">
                    <ul>
                        <li>бесплатная консультация детям до 14 лет в любой клинике,</li>
                        <li>взрослым – в филиале на ул. Шумяцкого</li>
                    </ul>
                </div>
            </div>
            <!-- <div class="header-description-item">

                </div>
                <div class="header-description-item"> -->

        </div>
    </div>
    <div class="header-image">

    </div>

    </div>
</header>