    .conacts {
        min-height: 80vh;
        background-image: url(../img/contacts-background.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .contacts__title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 44px;
        line-height: 40px;
        padding-top: 10px;
    }
    
    .contacts-collumns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2%;
    }
    
    .contacts-collumn-left {
        height: 80%;
        width: 45%;
        position: relative;
    }
    
    .contacts__phone-text {
        text-transform: uppercase;
        color: white;
        font-weight: 100;
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .contacts__phone-number {
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    .name {
        height: 40px;
        width: 200px;
        border-radius: 10px;
    }
    
    .tel {
        height: 40px;
        width: 200px;
        border-radius: 10px;
    }
    
    .contacts-collumn-right {
        height: 80%;
        width: 45%;
        position: relative;
    }
    
    .contacts-collumn-right iframe {
        width: 100%;
        position: absolute;
    }
    
    .form-button {
        margin-top: 36px;
        padding: 5px 25px;
        border-radius: 10px;
        background-color: bisque;
        cursor: pointer;
    }
    
    .contacts__adress {
        font-weight: 300;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: .02em;
        color: #fff;
        margin-top: 45px;
    }
    
    .contacts-collumn-right iframe {
        position: relative;
    }