header {
    min-height: 100vh;
    margin-bottom: -60px;
}

.header-top {
    height: 90px;
    top: 0px;
    background: #127E66;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.logo {
    max-width: 350px
}

.logo img {
    width: 100%;
    height: 101%;
}

.mobile-menu {
    background: #127e66;
    position: absolute;
    z-index: 7;
    top: 0;
    height: 100vh;
    width: 96vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: -100vw;
    transition: all .5s;
}

.header-menu__item-mobile {
    display: flex;
    justify-content: center;
}

.header__contact-button-mobile {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    max-width: 240px;
    border: 1.5px solid #FFFFFF;
    border-radius: 2px;
    text-align: center;
    height: 48px;
    padding-top: 17px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 10px auto;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;
    margin-top: 33px;
}

.header-menu__item {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin: 0 5px;
    text-transform: uppercase;
}

.header-menu a {
    height: 25px;
}

.hamburger-mobile {
    display: none;
    cursor: pointer;
}

.header-contacts {
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;
    margin-top: 27px;
    justify-content: space-between;
}

.header-adress {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    margin: 0 5px;
}

.header__map-image {
    max-width: 30px;
}

.header__map-image img {
    width: 100%;
}

.header__city {
    margin-top: 11px;
}

.header-scheme-button {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    border: 1px solid #FFFFFF;
    border-radius: 1px;
    text-align: center;
    max-width: 60px;
    height: 25px;
    padding-top: 6px;
    margin: 4px 5px;
}

.header-hours {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    margin: 0 5px;
}

.header__hours-image {
    max-width: 30px;
}

.header__hours-image img {
    width: 100%;
}

.header__hours-open {
    margin-top: 11px;
    margin-left: 7px;
}

.header-phone {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    margin: 0 5px;
}

.header__phone-image {
    max-width: 30px;
}

.header__phone-image img {
    width: 100%;
}

.header__phone-number {
    margin-top: 11px;
}

.header__contact-button {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    max-width: 240px;
    border: 1.5px solid #FFFFFF;
    border-radius: 2px;
    text-align: center;
    height: 48px;
    margin-top: 15px;
    margin-right: 6px;
    padding-top: 17px;
    padding-left: 2px;
    padding-right: 2px;
}

.header-content {
    height: 90vh;
    background-image: url(../img/header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    position: relative;
}

.header-description {
    position: absolute;
    margin-top: 5%;
    margin-left: 13%;
    max-width: 350px;
}

.header__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 55px;
    line-height: 55px;
}

.header__title2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 45px;
    line-height: 40px;
    color: #2E8B57;
}

.header__button-sale {
    max-width: 330px;
    height: 35px;
    background: #127e66;
    text-align: center;
    padding-top: 6px;
    margin-top: 12px;
    cursor: pointer;
}

.header__list li {
    margin-top: 10px;
}

.header__list li:before {
    color: #2E8B57;
    content: "-";
    padding-right: 10px;
}

.slick-active button {
    background: white;
}

.slick-dots {
    display: flex;
    justify-content: space-between;
    max-width: 80px;
    margin-left: 40%;
}

.slick-dots button {
    font: 400 0px system-ui;
    padding: 7px 7px 2px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background: none;
    border-radius: 50%;
    height: 17px;
}

.slick-active button {
    background: black;
}