@import 'vars';
@import 'fonts';
@import 'global';
@import 'header';
//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
.container {
    max-width: 1440px;
    padding-left: 2px;
    padding-right: 2px;
}

//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------
@import 'media';